.patient-list {
    background-color: #3d3d3d;
    padding: 0;
    margin: 0;
    width: 25vw;
    overflow-x:hidden;
    overflow-y: auto;
    border: .2rem solid gray;
}

.patient-list > ul {
    margin: 0;
    padding: 0;
    width: 100%;
}