li.patient {
    display: flex;
    flex-direction: row;
    color: #0088cc;
    border: 2px solid #ccc;
    padding: .5rem;
    width: 100%;
    cursor: pointer;
}

li.patient:hover {
    background-color: gainsboro;
}