li.patient {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    color: #333;
    padding: .5rem;
    width: 100%;
    cursor: pointer;
    text-overflow: ellipsis;
    height: 2rem;
    max-height: 2rem;
    white-space: nowrap;
    overflow: hidden;
}

li.patient:hover {
    background-color: gainsboro;
}

li.active{
    color: #007bff;
}