li.patient {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    color: #333;
    padding: .5rem;
    width: 100%;
    cursor: pointer;
}

li.patient:hover {
    background-color: gainsboro;
}

li.active{
    color: #007bff;
}